<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>PostIt</title>
</head>

<body>

  <style>
    nav .badge
    {
      position: relative;
      top: 20px;
      right: 20px;
    }
  </style>

  <nav class="nav-wrapper indigo">
    <div class="container">
      <a href="#" class="brand-logo"> Post-It</a>
      <a href="#" class="sidenav-trigger" data-target="mobile-links">
        <i class = "material-icons">menu</i>
      </a>
      <ul class = "right hide-on-med-and-down">
        <li><a href="#"> Home </a></li>
        <li><a href="#"> About </a></li>
        <li><a href="#"> Contact </a></li>
        <li><a href="#"> Login </a></li>
        <li><a href="#" class="btn-floating indigo darken-4 z-depth-0">
          <i class="material-icons">notifications</i>
        </a></li>
      </ul>
    </div>
  </nav>


  <ul class="sidenav" id="mobile-links">
    <li><a href="#"> Home </a></li>
    <li><a href="#"> About </a></li>
    <li><a href="#"> Contact </a></li>
    <li><a href="#"> Login </a></li>
  </ul>

  <style>
    .halfway-fab-one-step-to-the-left
    {
      position: absolute;
      right: 72px;
      bottom: -20px;
    }
    .halfway-fab-two-steps-to-the-left
    {
      position: absolute;
      right: 120px;
      bottom: -20px;
    }
    .halfway-fab-three-steps-to-the-left
    {
      position: absolute;
      right: 168px;
      bottom: -20px;
    }
  </style>

  <div class="row">
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="img/four-orange-jellyfish-wallpaper-1784578.jpg" alt="">
          <div class ="halfway-fab-three-steps-to-the-left btn-floating center-align">
            100k
          </div>
          <a href="#" class="halfway-fab-one-step-to-the-left btn-floating blue waves-effect waves-light">
            <i class="material-icons">arrow_upward</i>
          </a>
          <a href="#" class="halfway-fab-two-steps-to-the-left btn-floating orange waves-effect waves-light">
            <i class="material-icons">arrow_downward</i>
          </a>
          <a href="#" class="halfway-fab waves-effect waves-light btn-floating blue">
            <i class="material-icons">favorite</i>
          </a>
        </div>
        <div class="card-content">
          <span class="card-title"> Title</span>
          <span class="">
            <p>
              text
            </p>
          </span>
        </div>
        <div class="card-action">
          <a href="#"> View full post </a>
          <a href="#"> Share post </a>
          <a href="#"> Give award </a>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="img/close-up-of-lobster-248455.jpg" alt="">
          <div class ="halfway-fab-three-steps-to-the-left btn-floating center-align">
            100k
          </div>
          <a href="#" class="halfway-fab-one-step-to-the-left btn-floating blue waves-effect waves-light">
            <i class="material-icons">arrow_upward</i>
          </a>
          <a href="#" class="halfway-fab-two-steps-to-the-left btn-floating orange waves-effect waves-light">
            <i class="material-icons">arrow_downward</i>
          </a>
          <a href="#" class="halfway-fab waves-effect waves-light btn-floating blue">
            <i class="material-icons">favorite</i>
          </a>
        </div>
        <div class="card-content">
          <span class="card-title"> Title</span>
          <span class="">
            <p>
              text
            </p>
          </span>
        </div>
        <div class="card-action">
          <a href="#"> View full post </a>
          <a href="#"> Share post </a>
          <a href="#"> Give award </a>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="img/selective-focus-photography-of-octopus-3046629.jpg" alt="">
          <div class ="halfway-fab-three-steps-to-the-left btn-floating center-align">
            100k
          </div>
          <a href="#" class="halfway-fab-one-step-to-the-left btn-floating blue waves-effect waves-light">
            <i class="material-icons">arrow_upward</i>
          </a>
          <a href="#" class="halfway-fab-two-steps-to-the-left btn-floating orange waves-effect waves-light">
            <i class="material-icons">arrow_downward</i>
          </a>
          <a href="#" class="halfway-fab waves-effect waves-light btn-floating blue">
            <i class="material-icons">favorite</i>
          </a>
        </div>
        <div class="card-content">
          <span class="card-title"> Title</span>
          <span class="">
            <p>
              text
            </p>
          </span>
        </div>
        <div class="card-action">
          <a href="#"> View full post </a>
          <a href="#"> Share post </a>
          <a href="#"> Give award </a>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="img/school-of-fish-2289409.jpg" alt="">
          <div class ="halfway-fab-three-steps-to-the-left btn-floating center-align">
            100k
          </div>
          <a href="#" class="halfway-fab-one-step-to-the-left btn-floating blue waves-effect waves-light">
            <i class="material-icons">arrow_upward</i>
          </a>
          <a href="#" class="halfway-fab-two-steps-to-the-left btn-floating orange waves-effect waves-light">
            <i class="material-icons">arrow_downward</i>
          </a>
          <a href="#" class="halfway-fab waves-effect waves-light btn-floating blue">
            <i class="material-icons">favorite</i>
          </a>
        </div>
        <div class="card-content">
          <span class="card-title"> Title</span>
          <span class="">
            <p>
              text
            </p>
          </span>
        </div>
        <div class="card-action">
          <a href="#"> View full post </a>
          <a href="#"> Share post </a>
          <a href="#"> Give award </a>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="img/person-holding-octopus-1321125.jpg" alt="">
          <div class ="halfway-fab-three-steps-to-the-left btn-floating center-align">
            100k
          </div>
          <a href="#" class="halfway-fab-one-step-to-the-left btn-floating blue waves-effect waves-light">
            <i class="material-icons">arrow_upward</i>
          </a>
          <a href="#" class="halfway-fab-two-steps-to-the-left btn-floating orange waves-effect waves-light">
            <i class="material-icons">arrow_downward</i>
          </a>
          <a href="#" class="halfway-fab waves-effect waves-light btn-floating blue">
            <i class="material-icons">favorite</i>
          </a>
        </div>
        <div class="card-content">
          <span class="card-title"> Title</span>
          <span class="">
            <p>
              text
            </p>
          </span>
        </div>
        <div class="card-action">
          <a href="#"> View full post </a>
          <a href="#"> Share post </a>
          <a href="#"> Give award </a>
        </div>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    $(document).ready(function()
    {
      $('.sidenav').sidenav();
    })
  </script>
</body>
</html>