<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Topics</title>
</head>

<body>
  <div class= "container">
    <h1 class="center blue lighten-2"> Topics </h1>
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title" id="topic-one-title">Topic Title</span>
        <p>Topic Description </p>
        <p>How many members </p>
        <div class="secondary-content">
          <a href="#" class="btn">Join</a>
          <a href="#" class="btn">Visit</a>
        </div>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title" id="topic-two-title">Topic Title</span>
        <p>Topic Description </p>
        <p>How many members </p>
        <div class="secondary-content">
          <a href="#" class="btn">Join</a>
          <a href="#" class="btn">Visit</a>
        </div>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title" id="topic-three-title">Topic Title</span>
        <p>Topic Description </p>
        <p>How many members </p>
        <div class="secondary-content">
          <a href="#" class="btn">Join</a>
          <a href="#" class="btn">Visit</a>
        </div>
      </li>
    </ul>
  </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/populateTopicsPage.js"></script>
</body>
</html>